	<aside>
        <div class="c_AsideInnerWrapper__R">

            <div class="cA_Tags">
                <span class="cA_TagsTitle"><mark>Теги</mark></span>
                <ul>
                    <li><a href="#">Идея</a><span>1</span></li>
                    <li><a href="#">Креатив</a><span>5</span></li>
                    <li><a href="#">Наука</a><span>8</span></li>
                    <li><a href="#">Технологии</a><span>3</span></li>
                    <li><a href="#">Веселое</a><span>5</span></li>
                    <li><a href="#">Гаджет</a><span>8</span></li>
                </ul>
            </div>

            <div class="cA_Popular">
                <span class="cA_TagsTitle"><mark>Популярное</mark></span>
                <figure>
                    <a href="#"><img src="/img/img_3.jpg" alt="small picture"></a>
                    <figcaption>
                        <a href="#">Communicate the latest gadget Through Technology</a>
                    </figcaption>
                </figure>
                <figure>
                    <a href="#"><img src="/img/img_3.jpg" alt="small picture"></a>
                    <figcaption>
                        <a href="#">Communicate the latest gadget Through Technology</a>
                    </figcaption>
                </figure>
                <figure>
                    <a href="#"><img src="/img/img_3.jpg" alt="small picture"></a>
                    <figcaption>
                        <a href="#">Communicate the latest gadget Through Technology</a>
                    </figcaption>
                </figure>
                <figure>
                    <a href="#"><img src="/img/img_3.jpg" alt="small picture"></a>
                    <figcaption>
                        <a href="#">Communicate the latest gadget Through Technology</a>
                    </figcaption>
                </figure>
                <figure>
                    <a href="#"><img src="/img/img_3.jpg" alt="small picture"></a>
                    <figcaption>
                        <a href="#">Communicate the latest gadget Through Technology</a>
                    </figcaption>
                </figure>
                <figure>
                    <a href="#"><img src="/img/img_3.jpg" alt="small picture"></a>
                    <figcaption>
                        <a href="#">Communicate the latest gadget Through Technology</a>
                    </figcaption>
                </figure>
                <figure>
                    <a href="#"><img src="/img/img_3.jpg" alt="small picture"></a>
                    <figcaption>
                        <a href="#">Communicate the latest gadget Through Technology</a>
                    </figcaption>
                </figure>
                <figure>
                    <a href="#"><img src="/img/img_3.jpg" alt="small picture"></a>
                    <figcaption>
                        <a href="#">Communicate the latest gadget Through Technology</a>
                    </figcaption>
                </figure>
            </div>
        </div>
	</aside>