<aside>
        <div class="c_AsideInnerWrapper__L">
            <span class="titleCategory"><mark>Лучшая категория №1</mark></span>
            <figure>
                <a href="#"><img src="/img/img_2.jpg" alt="randomPost"></a>
                <figcaption>
                  <h2><a href="#">Communicate The Latest Gadget Through Technology</a></h2>
                    <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh...</p>
                </figcaption>
            </figure>
            <figure>
                <a href="#"><img src="/img/img_2.jpg" alt="randomPost"></a>
                <figcaption>
                    <h2><a href="#">Communicate The Latest Gadget Through Technology</a></h2>
                    <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh...</p>
                </figcaption>
            </figure>
            <figure>
                <a href="#"><img src="/img/img_2.jpg" alt="randomPost"></a>
                <figcaption>
                    <h2><a href="#">Communicate The Latest Gadget Through Technology</a></h2>
                    <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh...</p>
                </figcaption>
            </figure>
            <figure>
                <a href="#"><img src="/img/img_2.jpg" alt="randomPost"></a>
                <figcaption>
                    <h2><a href="#">Communicate The Latest Gadget Through Technology</a></h2>
                    <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh...</p>
                </figcaption>
            </figure>
        </div>
	</aside>