	<main>
        <div class="c_InnerWrapper">
            <span class="titleCategory"><mark>Лучшая категория №1</mark></span>
            <div class="c_InnerItem">
                 <article>
                    <a href="#"><img src="/img/img_1.jpg" alt="article_1" ></a>
                         <h2><a href="#">This is a place for some blog post title</a></h2>
                         <p>Rhoncus phasellus elementum nec tempor ultricies cursus etiam.
                             Dignissim! Placerat porta etiam porttitor mauris aenean purus!
                             Nunc diam aliquet mus pulvinar augue risus elementum? Magnis.
                             Et vut porta lacus penatibus, et eros augue ut mid urna et mid natoque risus?
                             Dictumst magna pid ultricies! Phasellus. In integer scelerisque...</p>
                </article>
                <div class="postMeta">
                    <span>By:<strong>Syed Faizan Ali</strong></span>
                    <span>On <strong>8/22/2013</strong></span>
                </div>
                <a href="#">continue reading</a>
            </div>
			 <div class="c_InnerItem">
                 <article>
                    <a href="#"><img src="/img/img_1.jpg" alt="article_1" ></a>
                         <h2><a href="#">This is a place for some blog post title</a></h2>
                         <p>Rhoncus phasellus elementum nec tempor ultricies cursus etiam.
                             Dignissim! Placerat porta etiam porttitor mauris aenean purus!
                             Nunc diam aliquet mus pulvinar augue risus elementum? Magnis.
                             Et vut porta lacus penatibus, et eros augue ut mid urna et mid natoque risus?
                             Dictumst magna pid ultricies! Phasellus. In integer scelerisque...</p>
                </article>
                <div class="postMeta">
                    <span>By:<strong>Syed Faizan Ali</strong></span>
                    <span>On <strong>8/22/2013</strong></span>
                </div>
                <a href="#">continue reading</a>
            </div>
			 <div class="c_InnerItem">
                 <article>
                    <a href="#"><img src="/img/img_1.jpg" alt="article_1" ></a>
                         <h2><a href="#">This is a place for some blog post title</a></h2>
                         <p>Rhoncus phasellus elementum nec tempor ultricies cursus etiam.
                             Dignissim! Placerat porta etiam porttitor mauris aenean purus!
                             Nunc diam aliquet mus pulvinar augue risus elementum? Magnis.
                             Et vut porta lacus penatibus, et eros augue ut mid urna et mid natoque risus?
                             Dictumst magna pid ultricies! Phasellus. In integer scelerisque...</p>
                </article>
                <div class="postMeta">
                    <span>By:<strong>Syed Faizan Ali</strong></span>
                    <span>On <strong>8/22/2013</strong></span>
                </div>
                <a href="#">continue reading</a>
            </div>
			 <div class="c_InnerItem">
                 <article>
                    <a href="#"><img src="/img/img_1.jpg" alt="article_1" ></a>
                         <h2><a href="#">This is a place for some blog post title</a></h2>
                         <p>Rhoncus phasellus elementum nec tempor ultricies cursus etiam.
                             Dignissim! Placerat porta etiam porttitor mauris aenean purus!
                             Nunc diam aliquet mus pulvinar augue risus elementum? Magnis.
                             Et vut porta lacus penatibus, et eros augue ut mid urna et mid natoque risus?
                             Dictumst magna pid ultricies! Phasellus. In integer scelerisque...</p>
                </article>
                <div class="postMeta">
                    <span>By:<strong>Syed Faizan Ali</strong></span>
                    <span>On <strong>8/22/2013</strong></span>
                </div>
                <a href="#">continue reading</a>
            </div>
            <ul class="pagination">
                <li><a class="active" href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">Next</a></li>
            </ul>
        </div>
	</main>