<!DOCTYPE html>
<html>
<head>
    <link href="/css/terminal.css" rel="stylesheet" type="text/css">
</head>

<body>

<h1>Добро пожаловать в Терминал</h1>

<form id="loginForm" method="post" enctype="multipart/form-data">
    <label>Логин
    <input type="text" name="login" placeholder="Login">
    </label>
    <label>Пароль
        <input type="password" name="password" placeholder="Password">
    </label>
    <button>Идентификация</button>
</form>



<a href="/"> На главную</a>
<a href="/blog">Блог</a>
<script type="text/javascript">
    var form = document.getElementById('loginForm');

    form.addEventListener('submit', function (e) {
        e.preventDefault();

        var login = form.querySelector('input[name="login"]').value,
            pass = form.querySelector('input[name="password"]').value;


        e.preventDefault();

        var /*formData = '',*/
                xhr = new XMLHttpRequest();

/*        // fetch form values
      for (var i = 0, d, v; i < form.elements.length; i++) {
            d = form.elements[i];
            if (d.name && d.value) {
                v = (d.type == "checkbox" || d.type == "radio" ? (d.checked ? d.value : '') : d.value);
                if (v) formData += d.name + "=" + escape(v) + "&";
            }
        }*/

        xhr.open("POST", '/terminal', true);
        xhr.send(new FormData(this));
    });




</script>
</body>
</html>