<footer>
	<div class="f_Top">
        <ul>
            <li>
                <h5 class="footerLogo">WellNine</h5>
                <p>
                    Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                    Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat...</p>
            </li>
            <li>
                <h5>Popular Posts</h5>
                <a href="#">This is a place for some blog post title</a>
                <a href="#">This is a place for some blog post title</a>
                <a href="#">This is a place for some blog post title</a>
            </li>
            <li>
                <h5>About</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus facilisis nulla at odio vestibulum, ut accumsan mauris venenatis.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus facilisis nulla at odio vestibulum, ut accumsan mauris venenatis.</p>
            </li>
            <li>
                <h5>Random image</h5>
                <ul>
                    <li><a href="#"><img src="/img/random_1.jpg" alt="img1"></a></li>
                    <li><a href="#"><img src="/img/random_2.jpg" alt="img2"></a></li>
                    <li><a href="#"><img src="/img/random_3.jpg" alt="img3"></a></li>
                    <li><a href="#"><img src="/img/random_4.jpg" alt="img4"></a></li>
                    <li><a href="#"><img src="/img/random_5.jpg" alt="img5"></a></li>
                    <li><a href="#"><img src="/img/random_6.jpg" alt="img1"></a></li>
                </ul>
            </li>
        </ul>
	</div>
    <div class="f_Bottom">
        <ul>
            <li>© 2015 Wellnine. Все права защищены.</li>
            <li></li>
        </ul>

    </div>
</footer>