* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a {
	text-decoration:none;
	color:inherit;
    transition: all 0.2s ease-in-out;
}
html {
	height: 100%;
}
body {
	font: 12px/18px 'Open Sans', 'Helvetica Neue', Arial, Tahoma, sans-serif;
	width: 100%;
	height: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, article,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* End of Eric Meyer's CSS Reset */
mark {
    background-color: #fff;
}
/* Header
-----------------------------------------------------------------------------*/
header {
	height: 100px;
	background: #02ab68;
	position: fixed;
	top: 0;
	width: 100%;
    z-index:10;
}

.h_wrapper {
	width: 1200px;
	padding: 25px 0 ;
	margin: 0 auto;
	text-align:justify;
}

.h_wrapper:after {
    content: '';
    width: 100%;
    display: inline-block;
}

.h_wrapper a {
	display: inline-block;
}
.h_wrapper a h1{
	color: #fff;
	font-weight: 700;
	font-size: 40px;
}
nav {
	display:inline-block;
}

nav li {
	display:inline-block;
	position:relative;
}
nav a {
	color: #fff;
	font-size: 1.167em;
	text-transform: uppercase;
	padding: 15px 19px;
	border-radius: 24px;
	transition: all 0.17s linear;
}

nav li:hover>a{
	color: #111;
	text-shadow: 0 1px 0 #fff;
	background: #fff;
}
nav li:hover a {
	border-radius: 24px 24px 0 0;
}

nav .h_parentMenuDrop {
	position:absolute;
	top: -999em;
}
nav .h_parentMenuDrop ul{
background: #fff;
opacity: 0;
overflow: hidden;
transition: all 0.1s ease-out;
min-width:160px;
}

nav .h_parentMenuDrop ul li {
	width:100%;
	background: #fff;
}

nav ul .h_parentMenuDrop a {
	border-radius: 0;
	color: #585858;
	text-shadow: none;
	font-size: 12px;
	border: 1px solid #fff;
	border-bottom: 1px solid #ddd;
	transition: all 0.17s ease-in-out;
	display:block;
	padding: 10px 19px;
}

nav .h_parentMenuDrop a:hover{
	color: #fff;
	text-shadow: 0 1px 0 #000;
	background: #02ab68;
	outline: 0;
}

nav .h_parent:hover .h_parentMenuDrop{
	top:44px;
}
nav .h_parent:hover .h_parentMenuDrop ul {
	opacity:1;
}

.headerAfter {
	background: #2f333e;
	height: 75px;
	margin-top:100px;
}

.hA_wrapper{
	width: 1200px;
	padding-top: 21px;
	margin: 0 auto;
	text-align:justify;
}

.hA_wrapper:after{
	content: '';
    width: 100%;
    display: inline-block;
}

.hA_wrapper span{
	display:inline-block;
}

.hA_wrapper a{
	color: #fff;
	text-decoration: none;
	font-size: 1.250em;
	font-weight: 600;
	margin-right:10px;
	display: inline-block;
}

.hA_wrapper a:not(:first-child):before {
	content: "/";
	display:inline-block;
	padding-right:10px;
}

.hA_wrapper form {
	display:inline-block;
}
#search{
	color: #fff;
	font-size: 1.083em;
	background-color: #2f333e;
	padding: 0.538em 0;
	height: 1.231em;
	text-indent: 0.615em;
	outline:none;
	border-radius: 4px;
	width: 200px;
	margin-right: -0.538em;
	border: 2px solid #02ab68;
}

#searchSubmit{
	border-radius: 0 4px 4px 0;
	color:#fff;
	width: 38px;
	height: 34px;
	background-color: #02ab68;
	transition: all 0.17s ease-in-out;
	cursor:pointer;
    display:inline-block;
    vertical-align: top;
 }

/* Middle
-----------------------------------------------------------------------------*/
.contentWrapper {
	width: 1200px;
	margin: 0 auto;
	min-height: 100%;
    font-size: 2%;
/*	height: auto !important;  */
}
main,aside {
    font-size:4940%;
}
main {
	padding-bottom: 370px;
	width: 550px;
	display:inline-block;
}

.c_InnerWrapper {

}
.titleCategory {
    font-size: 1.5em; /* 18px  */
    font-weight: bold;
    color: rgb(89, 89, 89);
    text-transform: capitalize;
    text-align: center;
    display:block;
    margin: 1.111em;
    position:relative;
}

.titleCategory:before{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(158, 158, 158);
    position: absolute;
    z-index: -1;
    top: 50%;
    border-radius: 0px;
}

.titleCategory mark {
    padding: 0 7px;
    color:inherit;
}

.c_InnerItem {
    margin: 20px 0;
    width:550px;
	text-align:justify;
	box-shadow: -5px 3px 0 1px rgba(158, 158, 158, 1);
    padding: 5px 0 20px 0;
	background-color: rgb(239, 239, 239);
	border-radius: 5px;
}
.c_InnerItem:after{
	content: '';
	display: inline-block;
	height: 0;
	width: 100%;
}
.c_InnerItem article img {
	width: 95%;
	height: auto;
	margin: 5px auto;
	display:block;
	border-radius: 5px;
}
.c_InnerItem article h2{
     font-size: 1.429em;
     color: #2d2d2d;
     margin-top: 1em;
     line-height: 1.150em;
     text-align: center;
 }
.c_InnerItem article h2 a{
    font-weight: bold;
}
.c_InnerItem article h2 a:hover{
    color: #2dcb73;
}

.c_InnerItem article p,
.postMeta{
    font-size: 1.167em; /*14px*/
    padding: 0 0.857em;
    color: #4c4c4c;
    line-height: 1.429em;
    margin: 0.857em ;
}
.postMeta {
    border-top:1px solid #D2D2D2;
    border-bottom:1px solid #D2D2D2;
    display:inline-block;
	width: 300px;
    height:20px;
	font-size: 1em; /* 12px*/
	padding: 8px 0 ;
	margin: 20px 10px 0 20px;
	line-height: 20px;
}

.postMeta span {
	padding:0 25px;
}

.postMeta span:first-child {
	border-right: 1px solid gray;
}
.postMeta span strong {
	color: #111;
	font-weight:bold;
}


.postMeta+a{
	text-align:center;
	line-height:20px;
	width: 120px;
	height:20px;
    display:inline-block;
	font-size: 1.083em;
	text-transform: capitalize;
	background: #02ab68;
	padding: 9px 5px;
	margin-top: 20px;
	color: #fff;
	font-weight: bold;
	margin-right:20px;
	border-radius: 5px;
}
.postMeta+a:hover{
	background-color: #2f333e;
}

aside {
	width: 300px;
	display:inline-block;
	vertical-align:top;
	padding-bottom: 350px;
    margin-left: 25px;
}

.c_AsideInnerWrapper__L {

}

.c_AsideInnerWrapper__L figure {
    margin: 20px 0;
    text-align: justify;
    padding: 5px 0 20px 0;
    background-color: rgb(239, 239, 239);
    border-radius: 5px;
    position:relative;
}


.c_AsideInnerWrapper__L figure:after{
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-bottom: 20px solid #FFFFFF;
    border-left: 20px solid rgb(2, 171, 104);
    right: 0;
    border-radius: 5px 0 0 0;
}
.c_AsideInnerWrapper__L figure:before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-bottom: 20px solid #ffffff;
    border-left: 20px solid transparent;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.c_AsideInnerWrapper__L figure img {
    width: 95%;
    height: auto;
    margin: 5px auto;
    display: block;
    border-radius: 5px;
}

.c_AsideInnerWrapper__L figcaption h2{
    font-size: 1.5em; /* 18px */
    margin-top:0.722em; /* 13px */
    line-height: 1.389em;
    text-transform: capitalize;
    color: #2d2d2d;
    font-weight: bold;
    padding: 0 15px;
    text-align: center;
}

.c_AsideInnerWrapper__L figcaption p {
    color: #4c4c4c;
    font-size: 1.083em; /* 13px  */
    font-family: 'Open Sans', 'Helvetica Neue', Arial, Tahoma, sans-serif;
    padding: 1em; /* 13px  */
}
.c_AsideInnerWrapper__L figcaption a:hover{
    color: #2dcb73;
}

.cA_TagsTitle {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(89, 89, 89);
    text-transform: capitalize;
    text-align: center;
    display: block;
    margin: 1.111em;
    position: relative;
}

.cA_TagsTitle:before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(158, 158, 158);
    position: absolute;
    z-index: -1;
    top: 50%;
    border-radius: 0;
}

.cA_TagsTitle mark {
    padding: 0 7px;
    color: inherit;
}

.cA_Tags ul {
    text-align: center;
}

.cA_Tags li {
    margin: 0 7px 10px 0;
    display: inline-block;
    transition: all 0.17s ease-in-out;
}

.cA_Tags li:hover  a {
    opacity: 0.8;
}
.cA_Tags li a{
    display: inline-block;
    background: #353535;
    color: #fff;
    font-size: 1.167em;  /*  12/14  */
    padding: 6px 34px 7px 9px;
}
.cA_Tags li span{
    background: #02ab68;
    color: #fff;
    font-size: 1.083em;   /*  12/13  */
    padding: 7px 10px;
    display:inline-block;
}

.cA_Popular img{
    border-radius: 5px;
    box-shadow: -1px 1px 0 1px rgba(158, 158, 158, 1);
    display:inline-block;
    max-width:100px;
    margin-right: 5px;
    transition: all 0.3s ease-in-out;
}
.cA_Popular img:hover{
    opacity: 0.6;
}
.cA_Popular figure{
    margin:10px 0;
}
.cA_Popular figcaption{
    display:inline-block;
    width:60%;
    vertical-align: top;
    font-size: 1.083em;   /*  12/13  */
    font-weight:bold;
    color:#2D2D2D ;
    line-height: 1.250em; /*  12/15  */
}
.cA_Popular figcaption:hover{
    color: #2dcb73;
}
.pagination {
    margin-top:40px;
    text-align: center;
}
.pagination li {
    display:inline-block;
}
.pagination a{
    display:inline-block;
    font-size: 15px;
    color: #fff;
    background: #02ab68;
    padding: 10px 15px;
    border: 1px solid #b9b9b9;
    margin-right: 5px;
    font-weight: bold;
    border-radius: 5px;
}
.pagination a:hover{
    background-color:#000;
}
.pagination a.active{
    background-color: #000;
}

/* Footer
-----------------------------------------------------------------------------*/
footer {
	margin: -340px auto 0;
	height: 340px;
	position: relative;
}

.f_Top {
    height:265px ;
    background-color:#1D2325;
}

.f_Top>ul{
    width: 1200px;
    padding-top: 21px;
    margin: 0 auto;
    text-align: justify;
    font-size: 2%;
    color: #fff;
}
.f_Top>ul>li{
     width:280px;
    display:inline-block;
    margin: 20px 10px;
    font-size:4940%;
    vertical-align: top;
}
.f_Top h5{
    text-transform: uppercase;
    font: 1.250em Ubuntu, Arial;
    color: #747474;
    font-weight: bold;
    font-size: 15px;
    padding:0 10px;
    text-align: center;
}
.f_Top h5.footerLogo{
    color: #fff;
    font-weight: 700;
    font-size: 3.333em;   /* 12/40  */
}

.f_Top li p {
    font-size: 1.083em;  /* 12/13  */
    margin-top: 10px;
}

.f_Top>ul>li>a {
    display:block;
    margin: 20px 0;
    font-size: 1.083em;  /* 12/13  */
}
.f_Top li:last-child ul {
    text-align: justify;
}
.f_Top li:last-child li{
    display:inline-block;
    width:80px;
    margin: 0 11px 11px 0;
    transition: all 0.3s ease-in-out;
}
.f_Top li:last-child li:hover{
    opacity: 0.6;
}

.f_Top li:last-child img{
    width:100%;
}

.f_Bottom {
    background: #02ab68;
    height:75px;
}

.f_Bottom ul {
    width: 1200px;
    margin: 0 auto;
    text-align: justify;
    height:100%;
}
.f_Bottom ul:after{
    content:'';
    display:inline-block;
    width:100%;
}
.f_Bottom li{
    display:inline-block;
    vertical-align: middle;
    margin-top: 20px;
    color: #fff;
    font-size: 1.083em;  /* 12/13  */
}

.f_Bottom li:last-child{
    background: url(/img/scroll_Top.png);
    width:48px;
    height:48px;
    margin-top: 15px;
}
.f_Bottom li:last-child:hover{
    cursor:pointer;
}

