* {
    box-sizing: border-box;
}
html {
   /* background: url('/img/terminal/bg.jpg') no-repeat;*/
}

h1 {
    text-align:center;
    margin: 5% 0;
}

#loginForm {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    min-height: 300px;
    margin: auto;
 /*   padding: 10px;
    border:1px solid #26a69a;
    border-radius:7px;
    box-shadow: 0 5px 7px 1px rgba(80, 88, 86, 0.7);*/
}

#loginForm * {
    display:block;
    width:100%;
}

#loginForm label {
    text-align: center;
    font-size: 20px;
}

#loginForm input {
    height: 45px;
    margin: 5px 0 15px;
    padding: 0 10px;
    border-radius: 5px;
    outline:none;
    /*box-shadow: 1px 1px 1px 1px rgba(5, 115, 50,0.6);*/
}

#loginForm button {
    height: 50px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: all .3s ease-out;
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border:none;
    border-radius:5px;
}
#loginForm button:active:before {
    width: 120%;
    padding-top: 120%;
    transition: width .2s ease-out, padding-top .2s ease-out;
}
#loginForm button:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, .3);
    transform: translate(-50%, -50%);
}
#loginForm button:hover{
    background-color: #2bbbad;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

#loginForm button:active,
#loginForm button:focus{
    outline: 0;

}

h2 {
    text-align: center;
}

#articleForm {
    width: 100%;
    display: flex;
    max-width: 500px;
    flex-direction: column;
    margin: 30px auto 0;
}

#articleForm * {
    width: 100%;
    margin-bottom: 10px;
}

#articleForm textarea {
    height: 200px;
}

/* The starting CSS styles for the enter animation */
.animate.ng-enter {
    transition:0.5s linear all;
    opacity:0;
}

/* The finishing CSS styles for the enter animation */
.animate.ng-enter.ng-enter-active {
    opacity:1;
}

.animate.ng-leave {
    transition:0.5s linear all;
    opacity:1;
}
.animate.ng-leave.ng-leave-active {
    opacity:0;
}


