* {
    box-sizing: border-box;
}
html {
   /* background: url('/img/terminal/bg.jpg') no-repeat;*/
}

h1 {
    text-align:center;
    margin: 5% 0;
}

/* The starting CSS styles for the enter animation */
.animate.ng-enter {
    transition:0.5s linear all;
    opacity:0;
}

/* The finishing CSS styles for the enter animation */
.animate.ng-enter.ng-enter-active {
    opacity:1;
}

.animate.ng-leave {
    transition:0.5s linear all;
    opacity:1;
}
.animate.ng-leave.ng-leave-active {
    opacity:0;
}

#mediaGalleryInit {
    display: inline-flex;
    min-width: 60px;
    min-height: 30px;
    background: linear-gradient(to bottom, #208058 0% ,#10A25F 50%, #45D849 100%);
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 5px 12px;
    margin-top: 20px;
}
